footer{
    background-color: white;
   
    padding: 20px 15px 10px
}
footer section{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 30px;
}
footer section:last-child{
    text-align:start;
    margin-bottom: 0;
    padding: 0 ;
}

footer section i{
   margin-bottom: 10px;
    font-size:2em;
    color: var(--Celeste);
}
footer section h3,footer section p{
    color: var(--Grisoscuro);
}
