footer{
    text-align: center;
    background-color: white 80px;
    font-family: var(--fuenteRoboto);
    color: var(--Grisoscuro);
    height: auto;
    padding: 50px
}
footer i{
    width: 50px;
    height: 50px;
    font-size:60px;
    color: var(--Celeste);

}
