
*{
    font-family: var(--fuenteRoboto);
}
    ul {
    color: black;
    text-decoration: none;
    padding: 0;
}
/* li{
    color: black;
    text-decoration: none;
   
    padding: 0;
} */

a{
    color: black;
    text-decoration: none;
  
}


