header{
    padding: 20px 0;
    color:black;
    text-decoration: none;
    background-color:var(--Amarillo);
    font-size: var(--cuerpo-de-texto);
  

}
header .logo ,header .searchBar{
    margin: 0 20px;
}

header .logo .img{
   width: 45%;
}
header .searchBar i{
    padding: 1px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--Grisoscuro);
    font-size: 16px;
}

header p{
    margin: 20px 0;
    text-align: center;

}

header .links ul{
   margin:0 0 20px ; 

} 
header .links ul i{
    margin: 0 3px;

}
header .burger{
    text-align: center;

}

header .burger i{
    background-color: var(--Celeste);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: var(--titulares);

}