.home header{
    padding: 20px 0;
    background-color:var(--Amarillo);
}
.home header .main-header{
    padding: 20px;
 }
.home header .main-header .logo img{
    width: 70%;
 }
 .home header .main-header .logo{
    width: 50%;
 }
.home header .searchBar {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: end;
    bottom: 2.8rem;
}
.home header .searchBar input{
    border: solid 1px var( --Grisclaro);
    display: block;
    width: 50%;
    padding: 7px 35px 7px 7px;
    border-radius: 3px;
    font-size: 1em;

}
.home header .searchBar button{
    padding: 3px;
    background-color: white;
    border-radius: 0 4px 4px 0;
    border:none;
}

 .home header p{
  margin-top: 20px;
    text-align: center;
 }
 .home header nav{
    display: none;
 }

.home header .burger{
    text-align: center;

}

.home header .burger i{
    background-color: var(--Celeste);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    font-size: var(--titulares);

} 
/* tablet */
@media (min-width:769px){
    .home header .main-header .logo img {
        width: 60%;
    }
    .home header .searchBar {
         position: relative;
        bottom: 3rem;
        justify-content: center;
       
    }
    .home header p {
      font-size: 14px;
      position: relative;
      text-align: end;
      bottom: 6rem;
    }
    .home header .searchBar input {
        font-size: 10px;
        width: 20%;
        padding: 1px;
     
    }
    .home header .searchBar button {
        padding: 3px;
        background-color: #eee;
       
    }
    
    .home header nav{
        display: flex;
        justify-content: space-between;
    }
    .home header nav ul{
        margin: 0 auto;
        font-size: 15px;
        display: flex;
    }
    .home header nav li{
        margin-right: 15px;
    }
}

@media (min-width:769px){
    .home header .searchBar {
        display: flex;
        justify-content: center;
    }
    .home header p {
       margin: 10px;
        font-size: 15px;
       
     }
    .home header .links li {
        font-size: 15px;
        margin: 5px;
    }
    
}  