header{
   padding: 20px 0;
    background-color:var(--Amarillo);
    /* font-size: var(--cuerpo-de-texto); */
  

}
header .logo{
    width: 35%;
}

header .searchBar{
    position: absolute;
    top:1;
    display: inline-flex;
}
header .searchBar input{
    background-color: white;
    padding: 10px; 
    margin-left: 8px;
    border: none;
}

header .searchBar button{
    background-color: white;
    border: none;
}
header h4{
    margin: 20px 0;
    text-align: center;

}
header .nav1, .nav2{
    display: none;
 

}

header .burger{
    padding: 10px;
    display: block;
    margin: 0 auto;
    background-color: var(--Celeste);
    font-size: 25px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* tablet */
@media (min-width:461px){
   
     header .searchBar{
        margin-top: 15px;
 
    }
    

    header .searchBar input {
        padding: 0px;
        
    }
    header .searchBar button {
        padding: 0px;
        background-color:var(--Grisclaro);
        
    }
    header h4 {
        bottom: 4.6rem;
     position: relative;
     text-align: end;
     font-size: 9px;
    }
    header .nav1{
        padding: 10px;
        display: flex;
      
    }
    header .nav1 ul, .nav2 ul{
        display: flex;
    }
    header .nav1 li,.nav2 li{
        font-size: 15px;
        padding-inline: 5px;
        
    }
    header .nav2 {
        bottom: 28px;
        position: relative;
        /* top: -22px; */
        display: flex;
        justify-content: end;
    }
    header .burger{
        display: block;
    }}
/* }
@media (min-width:769px){
    header .nav2 li{
        font-size: 15px;
    }
    header .nav1 li{
        font-size: 15px;
    }
    
} */
