main{
    margin: 0 auto;
    width: 90%;
    padding: 20px 0;
}
main .banner{
    display: none;
}
main section{
    padding: 20px 0;

}
main section h2{
    font-size: var(--titulares);
    color: var(--Grisoscuro);

}
main section article{
    margin: 10px 0;
    
}
main section article img{
    width: 100%;
}

main section article {
    background-color: white;

}
main section article .contenedor{
    border-top: 1px solid var(--Grisclaro);

}
main section article .camion {
    color: var(--Verde);
    margin: 10px;
    display: flex;
    position: relative;
    bottom: 25px;

    justify-content: flex-end;
}
main .contenedor .descuento{
    display: flex;
    position: relative;
    bottom: 35px;
    flex-wrap: wrap;
    margin-left: 80px;
}

 main section article h4{
    /* left: 35px; */
    top: -35px;
    position: relative;

 }
 p.precio{
    margin-left: 10px;
    top: -17px;
    position: relative;

    } 
main section article .camion,main section article .descuento{
    color: var(--Verde);
}
main section article .camion i{
    display:block; 
    font-size:16px;
    padding:5px;
    width:30px;
    height:30px;
    border:1px solid #39b54d;
    background-color: #FFF; 
    border-radius:50%;
    position: absolute; 
    right:20 px; 

}

main section article.precio{

font-size: var(--precios);
}

main section article.descuento{
 font-size: var(--descuentosYdescripciones);
   

}
main section article h4{
    display: none;
    margin-top: 20px;
    color: var(--Grisoscuro);
    font-size: var(--descuentosYdescripciones);
}

/* tablet */
@media (min-width:461px){

    main section article{
        box-shadow: 0px 0px 10px var(--Grisoscuro);
    }
    main section article h4{
        margin-left: 10px;
        display: block;
    }
 
}
    
/* deskotop */
@media (min-width:769px){
    
}